
{% extends "layout.html" %}
{% block title %}Clientes{% endblock %}

<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

 

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/clientes.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>

<body>

{% block body %}


  
    
    <div>
      <a class="btn-crear" href="crear"class="buttonround" title="Nuevo cliente"><img src="{% static 'images/user_add_21977.png'%}" class="card-img-top" alt=""></a>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
    </div>

    <div class="card-group">
    {% for cliente in object_list %}
     
  
      <div class="card"> 
        <div class="card-body">
          <a href="detalle/{{cliente.id}}"> 
            <h3 class="card-title">{{cliente.Nombre}}</h3>
          <p class="card-text"></p></a>
          <div class="btn-accion">
            <form method="POST" action="eliminar/{{cliente.id}}">
              {% csrf_token %}
              <div class="btn-group">
            <a href="editar/{{cliente.id}}"class="buttonround" title="Editar cliente"><img src="{% static 'images/user_edit_21973.ico'%}" class="card-img-top" alt=""></a>
            <button type="submit" class="btn btn-primary">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {%endfor%}  
    </div>

  <div class="footer">
    <p>Cust - by F5</p>
  </div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("¿Desea eliminar el Cliente?");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

 </body>

