<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

</head>

<body>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <div class="header">
    <a href="./"><img src="{% static 'images/cust-logo.png' %}"></a>
    <div class="header-right">
      <a href="#home">Home</a>.
      <a href="#logout">Cerrar sesión</a>
      <a href="#help">Ayuda</a>
    </div>
    <div class="header-center">
      <h1>Clientes</h1>
    </div>
  </div>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- token de seguridad para crear un registro -->
    <div class="form-group">
      <label for="Nombre" class="txt_negrita">Nombre</label>
      {{ form.Nombre|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="fecha_nacimiento" class="txt_negrita">Fecha de nacimiento</label>
      {{ form.fecha_nacimiento|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="direccion" class="txt_negrita">Direccion</label>
      {{ form.direccion|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="sexo" class="txt_negrita">Sexo</label>
      {{ form.sexo|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="telefono" class="txt_negrita">Telefono</label>
      {{ form.telefono|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="correo" class="txt_negrita">Email</label>
      {{ form.correo|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="cedula" class="txt_negrita">CI</label>
      {{ form.cedula|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="Empresa" class="txt_negrita">Empresa</label>
      {{ form.Empresa|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="Observaciones" class="txt_negrita">Observaciones</label>
      {{ form.Observaciones|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>

  </form>

  <div class="footer">
    <p>Cust - by F5</p>
  </div>

{% if messages %}
  <ul class="messages list-group mb-3">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{# JS y jQuery Bootstrap #}
{% bootstrap_javascript jquery='full' %}
</body>
