* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rounded Buttons */
.buttonround {
    font-size: 24px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
    display: inline-block;
    
  }
.buttonround img{
    width: 20px;
  }
.tareas{
    text-align: center;
    margin-bottom: 50px;
}
