<head>

{% load bootstrap4 %}

{% bootstrap_css %}

{% load static %}

{% load widget_tweaks %}

</head>

<body>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <div class="header">
    <a href="../clientes"><img src="{% static 'images/cust-logo.png' %}"></a>
    <div class="header-right">
      <a href="#home">Home</a>.
      <a href="#logout">Cerrar sesión</a>
      <a href="#help">Ayuda</a>
    </div>
    <div class="header-center">
      <h1>Colaboradores</h1>
    </div>
  </div>

  <h4>Datos de {{object.Nombre}}</h4>

  <p><span class="txt_negrita">Nombre:</span> <br> {{object.Nombre}}</p>
  <p><span class="txt_negrita">Fecha de nacimiento:</span> <br> {{object.fecha_nacimiento}}</p>
  <p><span class="txt_negrita">Dirección:</span> <br> {{object.direccion}}</p>
  <p><span class="txt_negrita">Sexo:</span> <br> {{object.sexo}} </p>
  <p><span class="txt_negrita">Teléfono:</span> <br> {{object.telefono}}</p>
  <p><span class="txt_negrita">Email:</span> <br> {{object.correo}}</p>
  <p><span class="txt_negrita">CI:</span> <br> {{object.cedula}}</p>
  <p><span class="txt_negrita">Empresa:</span> <br> {{object.Empresa}}</p>
  <p><span class="txt_negrita">Observaciones:</span> <br> {{object.Observaciones}}</p>

  <a href="../" type="submit" class="btn btn-primary">Volver</a>

  <div class="footer">
    <p>Cust - by F5</p>
  </div>

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
 </body>
