{% extends "layout.html" %}
{% block title %}Colaborador{% endblock %}
<head>

{% load bootstrap4 %}

{% bootstrap_css %}

{% load static %}

{% load widget_tweaks %}

</head>

<body>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  {% block body %}

  <h4>Datos de {{object.Nombre}}</h4>

  <p><b>Nombre:</b> {{object.Nombre}}</p>
  <p><b>Fecha de nacimiento:</b> {{object.fecha_nacimiento}}</p>
  <p><b>Dirección:</b> {{object.direccion}}</p>
  <p><b>Sexo:</b> {{object.sexo}} </p>
  <p><b>Teléfono:</b> {{object.telefono}}</p>
  <p><b>Email:</b> {{object.correo}}</p>
  <p><b>CI:</b> {{object.cedula}}</p>
  <p><b>Empresa:</b> {{object.Empresa}}</p>
  <p><b>Observaciones:</b> {{object.Observaciones}}</p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="35%">Servicio</th>
        <th>Cliente</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
    <!-- Recorremos los objetos o registros de nuestra tabla y los listamos -->
    {% if object.servicio_set %}
    {% for servicio in object.servicio_set.all %}
      <tr>
        <td>{{ servicio.tipo_de_servicio }}</td>
        <td>{{ servicio.cliente }}</td>
        <td>{{ servicio.fecha_hora }}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
  
  <a href="../" type="submit" class="btn btn-primary">Volver</a>

{% endblock %}

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
 </body>
