<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link href="css/general.css" rel="stylesheet">
<link href="css/empresa.css" rel="stylesheet">

</head>
<body>
<!-- Encabezado -->
<div class="header">
  <a href="index.html"><img src="images/cust-logo.png"> Alejandra</a>
  <div class="header-right">
    <a class="active" href="index.html">Home</a>
    <a href="#logout">Cerrar sesión</a>
    <a href="#help">Ayuda</a>
  </div>
  <div class="header-center"> 
    <h1>Empresa</h1>
  </div>
</div>
<p>&nbsp;</p>
<div class="imagenes">
    <a href="colaboradores.html">  
    <img src="images/empleados.png" title="Colaboradores" class= "imagen-empleado" alt="Colaboradores">
    </a>
    <a href="proveedores.html">
    <img src="images/proveedor.png" title="Proveedores" class= "imagen-proveedor" alt="Proveedores">
    </a>
    
    </div>
    
    <div class="footer">
      <p>cust - F5</p>
    </div>
    
    </body>
    </html>
    