{% extends "layout.html" %}
{% block title %}Empresa{% endblock %}

<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

 
  {% block extra_head_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  {% endblock %}

  <body>

    {% block body %}
    <h4>Datos de Empresa</h4>
    <p><b>Nombre:</b> {{object.Nombre}}</p>
    <p><b>RUT:</b> {{object.rut}}</p>
    <p><b>Razón Social:</b> {{object.razon_social}}</p>
    <p><b>Direccion:</b> {{object.direccion}} </p>
    <p><b>Teléfono:</b> {{object.telefono}}</p>
    <p><b>Email:</b> {{object.correo}}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="footer">
  <p>cust - F5</p>
</div>
{% if messages %}
      <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

</body>
</html>
