{% extends "layout.html" %}
{% block title %}Principal{% endblock %}

<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

 
  {% block extra_head_css %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
  {% endblock %}

  <body>

    {% block body %}
<p>&nbsp;</p>

<!-- Contenido luego del encabezado-->
<div class="imagenes">
<a href="/agenda/eventos/">  
<img src="{% static 'images/calendar.png' %}" class= "imagen-calendario" alt="Calendario">
</a>
<a href="/agenda/reservas/">  
<img src="{% static 'images/agenda.png' %}" class= "imagen-agenda" alt="Reservas">
</a>
</div><div class="footer">
  <p>cust - F5</p>
</div>
  {% endblock %}

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
</body>
</html>
