{% extends "layout.html" %}
{% block title %}Principal{% endblock %}

<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

 
  {% block extra_head_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  {% endblock %}

  <body>

    {% block body %}
    
<p>&nbsp;</p>

<!-- Contenido luego del encabezado-->
<div class="row">
  <div class="column">
    <div class="card">
      <h3><a class="active" href="clientes/">Clientes</a></h3>
      <p>Lista de clientes</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a class="active" href="servicios/">Servicios</a></h3>
      <p>Servicios realizados</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a class="active" href="agenda/">Agenda</a></h3>
      <p>Eventos y Reservas</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h3><a class="active" href="empresa/{{request.user.Empresa.id}}">Empresa</a></h3>
      <p>Opciones de la empresa</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a class="active" href="colaboradores/">Colaboradores</a></h3>
      <p>Colaboradores de la empresa</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a class="active" href="tareas/">Tareas</a></h3>
      <p>Tareas a realizar</p>
    </div>
  </div>
</div>
<div class="footer">
  <p>cust - F5</p>
</div>
  {% endblock %}

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

</body>
</html>
