{% load static %}

  <head>

    {% load bootstrap4 %}

    {% bootstrap_css %}

    {% load static %}

    {% load widget_tweaks %}

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block extra_head_css %}{% endblock %}
  </head>
  <body>
    <div class="header">
      <a href="/"><img src="{% static 'images/cust-logo.png' %}"></a>
      <div class="header-center">
        <h1>{% block title %} {% endblock %}</h1>
      </div>
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/logout">Cerrar sesión</a> 
        <a href="#help">{{request.user}}</a>
      </div>      
    </div>
    

    {% block body %}{% endblock %}

    {% if messages %}
      <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}


    {% bootstrap_javascript jquery='full' %}

  </body>
