{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/eventos.css' %}">
</head>

<body>
<!-- Encabezado -->
<div class="header">
  <a href="/"><img src="{% static 'images/cust-logo.png' %}"></a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/logout">Cerrar sesión</a> 
      <a href="#help">{{request.user}}</a>
  </div>
<body>
  <div class="header-center"> 
    <h1>Agenda</h1>
    <h5>Reservas</h5>
  </div>
</div>
<p>&nbsp;</p>
<div>
  <button class="buttonround" title="Agregar un reserva"><img src="{% static 'images/agregar tarea.png' %}" ></button>
  <button class="buttonround" title="Eliminar reserva"><img src="{% static 'images/deletetask.png' %}"></button>
  <button class="buttonround" title="Editar reserva"><img src="{% static 'images/Edit-Task-512.png' %}"></button>
</div>

<!-- Contenido luego del encabezado-->
<div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
</div>

<div>
<img src="{% static 'images/reservas.png' %}" alt="">
</div>

<div>
<a href="../" type="submit" class="btn btn-primary">Volver</a>
</div>

<div class="footer">
  <p>cust - F5</p>
</div>

</body>
</html>

