{% load static %}

  <head>

    {% load bootstrap4 %}

    {% bootstrap_css %}

    {% load static %}

    {% load widget_tweaks %}

    <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/servicios.css' %}">
  </head>
<body>
<!-- Encabezado -->
<div class="header">
    <a href="/"><img src="{% static 'images/cust-logo.png' %}"></a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="/logout">Cerrar sesión</a> 
        <a href="#help">{{request.user}}</a>
    </div>
  <body>
    <div class="header-center"> 
      <h1>Servicios</h1>
    </div>
  </div>
<p>&nbsp;</p>
<div>
  <a class="btn-crear" href="crear" class="buttonround" title="Agregar un servicio"><img src="{% static 'images/agregar tarea.png' %}" ></a>
  <div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
  </div>
</div>

</div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="35%">Servicio</th>
        
      </tr>
    </thead>
    <tbody>

    {% for categoria_servicio in object_list %}
      <tr>
        <td>{{ categoria_servicio.tipo_de_servicio }}</td>
        
        <td>

          <!-- formulario para eliminar un registro desde el HTML -->
          <form method="POST" action="eliminar/{{Servicio.id}}">
            
            {% csrf_token %}
  
            <div class="btn-group">
  
              <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros -->
              
              <a onclick="return eliminar();" type="submit"  title="Eliminar servicio"><img src="{% static 'images/deletetask.png'%}" class="card-img-top" alt=""></a> 
            </div>
          </form>

        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("¿Desea eliminar el Servicio?");
      if (x)
        return true;
      else
        return false;
    }
  </script>
 
 <a href="../" type="submit" class="btn btn-primary">Volver</a>



  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

 </body>
