{% extends "layout.html" %}
{% block title %}Servicios{% endblock %}

<head>

  {% load bootstrap4 %}

  {% bootstrap_css %}

  {% load static %}

  {% load widget_tweaks %}

 
  {% block extra_head_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/servicios.css' %}">
  {% endblock %}

  <body>

    {% block body %}

<p>&nbsp;</p>
<div>
  <a class="btn-crear" href="crear" class="buttonround" title="Agregar un servicio"><img src="{% static 'images/agregar tarea.png' %}" ></a>
  <div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
  </div>
</div>

</div>

</div>

<form method="post">
    {% csrf_token %}
    <!-- token de seguridad para crear un registro -->
    <div class="form-group">
      <label for="tipo_de_servicio" class="txt_negrita">Nombre del servicio</label>
      {{ form.tipo_de_servicio|add_class:"form-control" }}
    </div>
  
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Cancelar</a>

  </form>

<div class="footer">
  <p>Cust - by F5</p>
</div>

  {% if messages %}
    <ul class="messages list-group mb-3">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endblock %}
  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

</body>